<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Palmira EcoNews</title>
  <link rel="icon" type="image/png" href="../img/LOGO (2).png"/>
  <link href="../css/style.css" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
<nav class="navbar bg-success navbar-dark fixed-top">
  <div class="container-fluid">
  <img src="../img/LOGO (2).png" alt="Logo Palmira EcoNews" width="50" height="50" class="d-inline-block align-text-top" />
    <a class="navbar-brand" href="#">Palmira EcoNews</a>
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="offcanvas" 
            data-bs-target="#offcanvasNavbar" 
            aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-success" tabindex="-1" id="offcanvasNavbar">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title">Menú</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="noticias.html">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contacto.html">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="inscripcion.html">Inscríbete</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<br><br><br>
<h1>¡Bienvenido!</h1>
<p>Tu fuente confiable de noticias ambientales y culturales en Palmira.</p>
<p>Disfruta de las últimas actualizaciones sobre iniciativas ecológicas en los colegios de nuestra ciudad o incribete para ser parte de ellas.</p>
<div class="carousel-container">
  <div id="carouselExampleCaptions" class="carousel slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../img/campaña1.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Más maestros se unen al cuidado del planeta</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../img/campaña2.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>Alumnos recogen los desechos de su barrio</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="../img/campaña3.jpg" class="d-block w-100">
        <div class="carousel-caption d-none d-md-block">
          <h5>¡Únete a nuestro programa de enseñanza!</h5>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" 
            data-bs-target="#carouselExampleCaptions" 
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" 
            data-bs-target="#carouselExampleCaptions" 
            data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
</div>
<br>
  <p>
    Palmira EcoNews te conecta con las actividades ambientales y culturales
    de los colegios de la ciudad. Participa, infórmate y ayuda a transformar tu comunidad. 🌿
  </p>

<div class="card text-bg-dark sabias-container">
  <img src="../img/dato.jpg" class="card-img">
  <div class="card-img-overlay">
    <h5 class="card-title">¿Sabías que...?</h5>
    <p class="card-text">
      Los árboles urbanos reducen el calor, purifican el aire y mejoran el bienestar en los colegios.
      Plantar uno es sembrar vida para el futuro.
    </p>
  </div>
</div>
<footer>
  <p class="m-0">Palmira EcoNews • Conectando acciones por nuestro país</p>
  <p class="m-0">contacto@palmiraeconews.com • +57 312 345 6789</p>
</footer>
</body>
</html>